/* Colors */

$white: #fff;
$white-text: #fff;
$black: #000;
$green: #13a34d;
$nav-color: #403f3f;
$section-color: #4a4343;
$title-color: #5a5a5a;
$text-color: #6f6f6f;
$product-title-color: #767676;
$product-text-color: #c7c7c7;
$footer-color: #d8d8d8;

/* Fonts */

$Museo: "Museo", sans-serif;

$light: 300;
$Regular: 500;
$Medium: 700;
$Bold: 900;

/*title*/

$h1: 29px;
$h2: 28px;
$h3: 21px;
$h4: 18px;
$h5: 15px;
// $h6: 14px;

/*text*/

$font-text: 15px;
