.category-box {
  display: flex;
  justify-content: space-between;
  position: relative;

  & .category-filter {
    flex: 0 0 23%;

    & .input-box {
      border-radius: 15px;
      background-color: $white;
      padding: 17px 10px 40px 35px;
      margin-bottom: 60px;

      & .price,
      .size,
      .coating,
      .color {
        & .input-title {
          display: block;
          width: 87%;
          height: 30px;
          border-radius: 30px;
          background-color: #f6f7f9;
          margin: 0 auto 29px 0;
          color: $product-title-color;
          font-size: 14px;
          font-weight: $Regular;
          line-height: 30px;
          text-align: center;
        }

        & .input-lihk {
          display: inline-block;
          color: $product-title-color;
          font-size: 14px;
          font-weight: $Medium;
          text-decoration: underline;
          margin-top: 20px;

          &:hover {
            color: $nav-color;
          }
        }
      }

      & .price,
      .size,
      .coating {
        margin-bottom: 35px;
      }
    }

    & .advantage-block {
      color: $title-color;
      font-size: 13px;
      font-weight: $Regular;
      padding: 10px;

      & ul li {
        padding-left: 63px;
        position: relative;
        margin-bottom: 34px;
        min-height: 50px;
        display: flex;
        align-items: center;

        &::before {
          display: inline-block;
          content: "";
          width: 48px;
          height: 48px;
          border-radius: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
          background-color: $white;
          background-image: url("../img/Path_23.svg");
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: middle;
          position: absolute;
          left: 0;
        }
      }

      & a {
        color: $product-title-color;
        font-size: 15px;
        font-weight: $Medium;
        text-decoration: underline;

        &:hover {
          color: $section-color;
        }
      }
    }
  }

  & .category-product {
    flex: 0 0 74%;

    & .product {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & .product-card {
        flex: 0 0 33.3%;
        margin-bottom: 12px;
      }
    }

    & .btn-green_light {
      display: block;
      width: 20%;
      margin: auto;
      color: $green;
      font-size: 12px;
      font-weight: 500;
      border: 1px solid $green;
      height: 35px;
      line-height: 35px;

      &:hover {
        background-color: $green;
        color: $white;
      }
    }
  }
}

@media (max-width: 575px) {
  .btn-toggle {
    width: 100px;
    height: 35px;
    border-radius: 35px;
    background-color: $green;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-align: center;
    line-height: 35px;
    color: $white-text;
  }

  .category-filter {
    flex: 0 0 1%;
    display: none;
    padding-top: 50px;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 50;
  }

  .advantage-block {
    display: none;
  }

  .category-box {
    padding-top: 70px;

    & .category-product {
      flex: 0 0 100%;

      & .product {
        justify-content: flex-start;

        & .product-card {
          flex: 0 0 100%;
          margin-bottom: 12px;
        }
      }
    }
  }

  .show {
    display: block;
  }
}

@media (min-width: 576px) {
  .btn-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .category-box {
    padding-bottom: 120px;

    & .category-filter {
      flex: 0 0 47%;
    }

    & .category-product {
      flex: 0 0 48%;

      & .product {
        flex-wrap: wrap;
        justify-content: center;

        & .product-card {
          flex: 0 0 90%;
          margin-bottom: 12px;
        }
      }

      & .pagination {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
      }

      & .btn-green_light {
        width: 40%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 991px) {
  .category-box {
    & .category-filter {
      flex: 0 0 33%;

      & .input-box {
        padding: 17px 10px 15px 15px;

        & .price,
        .size,
        .coating,
        .color {
          & .input-title {
            width: 95%;
          }
        }
      }
    }

    & .category-product {
      flex: 0 0 64%;

      & .product .product-card {
        flex: 0 0 49%;

        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }

      & .btn-green_light {
        width: 35%;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .category-box .category-filter {
    flex: 0 0 24.5%;

    & .input-box {
      padding-left: 20px;
    }
  }
}

@media (min-width: 992px) {
  .category-product .product .product-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
