.advantage {
  & .advantage-img-box {
    display: none;
  }

  & .advantage-list {
    color: $text-color;

    & ol {
      counter-reset: li;

      & li {
        padding-left: 90px;
        position: relative;
        margin-left: auto;
        margin-bottom: 30px;

        &::before {
          display: inline-block;
          content: counter(li);
          counter-increment: li;
          width: 65px;
          height: 65px;
          border-radius: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
          background-color: #ffffff;
          color: $green;
          font-size: 32px;
          font-weight: $Bold;
          text-align: center;
          line-height: 65px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        & h3 {
          font-family: $Roboto;
          font-size: $h3;
          font-weight: 700;
          color: $title-color;
          margin-bottom: 7px;
        }

        & p {
          margin-bottom: 10px;
        }

        & a {
          font-size: 13px;
          font-weight: $Regular;
          color: $green;
        }
      }
    }
  }
}
