.advantage {
  & .advantage-img-box {
    display: none;
  }

  & .advantage-list {
    color: $text-color;

    & ol {
      counter-reset: li;

      & li {
        padding-left: 90px;
        position: relative;
        margin-left: auto;
        margin-bottom: 30px;

        &::before {
          display: inline-block;
          content: counter(li);
          counter-increment: li;
          width: 65px;
          height: 65px;
          border-radius: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
          background-color: #ffffff;
          color: $green;
          font-size: 32px;
          font-weight: $Bold;
          text-align: center;
          line-height: 65px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        & h3 {
          font-family: $Roboto;
          font-size: $h3;
          font-weight: 700;
          color: $title-color;
          margin-bottom: 7px;
        }

        & p {
          margin-bottom: 10px;
        }

        & a {
          font-size: 13px;
          font-weight: $Regular;
          color: $green;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .advantage .advantage-list ol li:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .advantage {
    & .advantage-list {
      & ol {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & li {
          flex: 0 0 48%;
          min-height: 250px;
          margin-bottom: 30px;

          &::before {
            top: 35%;
          }

          &:nth-last-child(-n + 2) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .advantage .advantage-img-box .item-positions {
    & .item-position1 {
      left: 13px;
      top: 13px;
    }

    & .item-position3 {
      left: 13px;
      bottom: 13px;
    }

    & .item-position4 {
      right: 13px;
      top: 13px;
    }

    & .item-position6 {
      right: 13px;
      bottom: 13px;
    }
  }
}

@media (min-width: 992px) {
  .advantage {
    height: 650px;
    position: relative;

    & .advantage-img-box {
      display: block;
      width: 20%;
      border-radius: 50%;
      position: relative;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      & .advantage-img {
        border-radius: 50%;
        box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
        border: 8px solid #ffffff;

        & img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      & .item-positions {
        & div {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $green;
          position: absolute;
          z-index: 10;
        }

        & .item-position1 {
          left: 18px;
          top: 18px;
        }

        & .item-position2 {
          left: -17px;
          top: 50%;
          transform: translateY(-50%);
        }

        & .item-position3 {
          left: 18px;
          bottom: 18px;
        }

        & .item-position4 {
          right: 18px;
          top: 18px;
        }

        & .item-position5 {
          right: -17px;
          top: 50%;
          transform: translateY(-50%);
        }

        & .item-position6 {
          right: 18px;
          bottom: 18px;
        }
      }
    }

    & .advantage-list {
      & ol {
        & li {
          margin-bottom: 0;
          width: 36%;
          position: relative;
          position: absolute;
        }

        & .advantage-item1 {
          left: 90px;
          top: 0;
        }

        & .advantage-item2 {
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        & .advantage-item3 {
          left: 90px;
          bottom: 0;
        }

        & .advantage-item4 {
          right: 90px;
          top: 0;
        }

        & .advantage-item5 {
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        & .advantage-item6 {
          right: 90px;
          bottom: 0;
        }
      }
    }
  }
}
