.footer-nav {
  & li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    & a {
      color: $text-color;
      font-weight: $Regular;

      &:hover {
        color: $product-text-color;
      }
    }
  }
}

@media (max-width: 991px) {
  .footer-nav {
    display: flex;
    text-align: center;

    & li {
      margin-bottom: 0;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
