.pagination {
  display: flex;
  justify-content: center;
  margin: 42px 0 19px 0;

  & ul {
    display: flex;
    justify-content: center;

    & li {
      width: 49px;
      height: 48px;
      border-radius: 50%;
      margin-right: 13px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      & a {
        display: inline-block;
        color: $product-title-color;
        font-size: 23px;
        font-weight: $Bold;
        line-height: 48px;
      }

      &:hover {
        & a {
          color: $green;
        }
      }
    }

    & .active {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
      background-color: $white;

      & a {
        color: $green;
      }
    }
  }
}
