.social ul li {
  & .fa {
    display: inline-block;
    width: 32px;
    height: 32px;

    & svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #606060;
    }
  }

  & .fa-facebook svg:hover {
    fill: #3b5999;
  }

  & .fa-youtube svg:hover {
    fill: #cd201f;
  }

  & .fa-instagram svg:hover {
    fill: #e4405f;
  }
}
