.btn {
  padding: 0;
  border: 0;
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: $Regular;
}

.btn-green {
  background-color: $green;
  color: $white-text;

  &:hover {
    opacity: 0.8;
    color: $white-text;
  }
}

.btn-gray {
  background-color: #414141;
  color: $white-text;

  &:hover {
    opacity: 0.8;
    color: $white-text;
  }
}

.btn-light-gray {
  background-color: #767676;
  color: $white-text;

  &:hover {
    opacity: 0.8;
    color: $white-text;
  }
}
