.subscription-wrapper {
  max-height: 100px;
  background-image: url("../img/bi-home-footer.jpg");
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 10px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.69);
    z-index: 0;
  }
}

.footer-wrapper {
  background-color: #383838;
  padding: 40px 0 10px 0;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  color: $footer-color;

  & .info {
    flex: 0 0 32%;
  }

  & .contacts {
    flex: 0 0 17%;

    & .h4 {
      font-size: $font-text;
    }

    & span {
      display: block;
      font-size: 20px;
      margin-bottom: 8px;
    }

    & .btn {
      width: 100%;
      margin-bottom: 20px;
    }

    & .email-link {
      color: $text-color;
      font-weight: $Regular;
      text-decoration: underline;

      &:hover {
        color: $product-text-color;
      }
    }
  }

  & .company {
    flex: 0 0 11%;

    & .h4 {
      font-size: $font-text;
    }
  }

  & .catalog {
    flex: 0 0 11%;

    & .h4 {
      font-size: $font-text;
    }
  }
}

.copyright-wrapper {
  background-color: #313131;
  padding: 15px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: $Regular;
  color: $text-color;

  & span a {
    color: $white-text;
    margin-left: 10px;

    &:hover {
      color: $text-color;
    }
  }
}
