.footer-wrapper {
  background-color: #383838;
  padding: 40px 0 10px 0;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $footer-color;

  & .info {
    flex: 0 0 32%;

    & .logo {
      margin-bottom: 24px;
    }

    & .info-box {
      display: flex;
      justify-content: space-between;

      & .social {
        flex: 0 0 32px;
      }

      & .address {
        flex: 0 0 85%;
        border-radius: 15px;
        position: relative;

        &::before {
          display: block;
          content: "";
          border-radius: 13px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(50, 50, 50, 0.88);
        }

        & .address-img {
          width: 100%;
          height: 100%;
          border-radius: 15px;

          & img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 15px;
          }
        }

        & .address-info {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          &::before {
            display: inline-block;
            content: "";
            width: 23px;
            height: 32px;
            background-image: url("../img/marker.svg");
            position: absolute;
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
          }

          & span {
            display: block;
          }

          & a {
            color: $text-color;
            text-decoration: underline;
            font-size: 13px;

            &:hover {
              color: $product-text-color;
            }
          }
        }
      }
    }
  }

  & .contacts {
    flex: 0 0 17%;

    & .h4 {
      font-size: $font-text;
    }

    & span {
      display: block;
      font-size: 20px;
      margin-bottom: 8px;
    }

    & .btn {
      width: 100%;
      margin-bottom: 20px;
    }

    & .email-link {
      color: $text-color;
      font-weight: $Regular;
      text-decoration: underline;

      &:hover {
        color: $product-text-color;
      }
    }
  }

  & .company {
    flex: 0 0 11%;

    & .h4 {
      font-size: $font-text;
    }
  }

  & .catalog {
    flex: 0 0 11%;

    & .h4 {
      font-size: $font-text;
    }
  }
}

.copyright-wrapper {
  background-color: #313131;
  padding: 15px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: $Regular;
  color: $text-color;

  & span a {
    color: $white-text;
    margin-left: 10px;

    &:hover {
      color: $text-color;
    }
  }
}
