.header-home {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  background: linear-gradient(
    180deg,
    rgba(3, 43, 88, 0.76) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  box-shadow: 0 0 11px rgba(38, 38, 38, 0.2);
  background-color: #ffffff;

  &
    .header-box
    .navigations
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .nav-link {
    color: #403f3f;
  }
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    flex: 0 0 26%;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  & .navigations {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .navbar {
      flex: 0 0 93%;
      padding: 1px;

      & .navbar-collapse .navbar-nav {
        & .nav-item {
          border-top: 8px solid rgba(0, 0, 0, 0);

          & .nav-link {
            padding: 43px 20px;
            color: $white-text;
            font-size: 15px;
            font-weight: $Regular;
            text-transform: capitalize;
          }

          &:hover {
            border-top: 8px solid #13a34d;
          }
        }

        & .active {
          border-top: 8px solid #13a34d;
        }
      }
    }

    & .registration {
      flex: 0 0 37px;
      height: 37px;
      border-radius: 50%;
      background-color: $green;
      box-shadow: 0 2px 3px rgba(19, 163, 77, 0.67);
      position: relative;

      &::before {
        display: inline-block;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../img/man-user.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
